h1 {
  font-size: 5.9vw;
}
/** {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}*/
html, body {
  height:100%; !important;
/*  width: 100%;
*/}
body {
  /*line-height: 1.6;*/
  background-color: #fff;
} 

body {
/*  font-size: 2.5em;
*/  font-family: sans-serif;
  color: #222;
} 

.container-fluid {
  height: 100%; !important;
}
hands {
  height: 100%;
}
/*.add-margin {
  margin-top: 0.5em;
}*/

/*.cards-margin-left {
  margin-left: -2em;
}*/
/*.north-arrow {
   margin: 0 auto;
   width: 30px;
   border-style: solid;
   border-width: 0 20px 34.6px 20px;
   border-color: transparent transparent #55ff00 transparent;
}
.east-arrow {
  top:100px;
  left:185px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 0 20px 34.6px;
  border-color: transparent transparent transparent #55ff00;
}
.west-arrow {
  top:100px;
  left:185px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 34.6px 20px 0;
  border-color: transparent #55ff00 transparent transparent; 
}
.south-arrow {
  margin: 0 auto;
  width: 30px;
  border-style: solid;
  border-width: 34.6px 20px 0 20px;
  border-color: #55ff00 transparent transparent transparent;
}*/
.hvr-float {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.2s;
  transition-property: transform;
  transition-timing-function: ease-out;
}
.hvr-float:hover,
.hvr-float:focus,
.hvr-float:active {
  transform: translateY(-10px);
}
/*.west-cards-pad {
  padding-left: 100px;
}*/
/*.trick-pad-arrow {
  margin-top: 3em;
  margin-bottom: 3em;
}*/
/*.north-south-arrow-pad {
  height:2em;
}*/
/*.border {
  border: 1px dotted black;
}

.border-side {
  border-right:1px solid black; 
}*/

/*.west {
  position: absolute;
  top:-10px;
  left:0px;
  width:100px; 
}
.north {
   position: absolute;
   top: -45px;
   left:50px;
   width:100px; 
}
.east {
   position: absolute;
   top: 0px;
   right:90px;
   width:100px; 
}
.southArro {
  position: absolute;
  top: 20px;
  left:50px;
  width:100px;
}*/

.west {

}
.east {

}


@media only screen and (min-device-width: 413px) and (max-device-width: 415px) { iPhone6+ Styles }
@media only screen and (min-device-width: 374px) and (max-device-width: 376px) { iPhone6 Styles }
@media only screen and (min-device-width: 359px) and (max-device-width: 361px) { iPhone6+ Alt Styles }
@media only screen and (min-device-width: 319px) and (max-device-width: 321px) { iPhone5 or less Styles }

@media screen and (orientation:portrait) {
  img {
    height: auto;
    width: auto; 
  }
  body .nopadding {
    padding: 0 !important;
    margin: 0 !important;
  }
  .col-xs-1, .col-xs-4, .col-xs-3, .col-xs-6 {
    padding: 0; !important;
    margin: 0; !important;
  }
  .cards-margin-left {
    margin-left:-26.7%;
  }
  .cards-margin-top {
  margin-top: -80%;
  }
  img.north, img.south {
    max-width: 32%;
  }
  img.west, img.east{
    max-width: 65%;
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
  }
  img.east {
    float:right; !important;
    padding: -10px; 
  }
  img.west {
    float:left;
  }
  .col-xs-3 > img.east {
    margin-right: 15%; !important;
  }
  .col-xs-3 > img.west {
    margin-left: 16%; !important;
  }
  .border {
    border: dotted 1px black;
  }
  div.empty-div {
    height: 4vw;
    clear:both;
  }
/*  .north-arrow {
    margin: 0 auto;
    width: 5%;
    border-style: solid;
    border-width: 0 10px 14.6px 10px;   
    border-color: transparent transparent #55ff00 transparent;
  }
  .east-arrow {
    margin-top: 300%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 14.6px;
    border-color: transparent transparent transparent #55ff00;
  }
  .west-arrow {
    margin-top: 300%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 14.6px 10px 0;
    border-color: transparent #55ff00 transparent transparent; 
  }
  .south-arrow {
    margin: 0 auto;
    width: 5%;
    border-style: solid;
    border-width: 14.6px 10px 0 10px;
    border-color: #55ff00 transparent transparent transparent;
  }*/
  .west-trick, .north-trick, .east-trick, .south-trick {
    width: 48%;
  }
  .west-trick {
    position:absolute;
    top: 15vw;
    left: 2vw;
  }
  .north-trick {
    position:absolute;
    top: 5vw;
    left: 8vw;
  }
  .east-trick {
    position:absolute;
    top: 14vw;
    left: 15vw;
  }
  .south-trick {
    position:absolute;
    top: 25vw;
    right: 10vw;
  }
}

@media screen and (orientation:landscape) {
  .cards-margin-left {
    margin-left:-30%;
  }
/*  .cards-maring-top {
    margin-top:-15%;
  }*/
  img {
      max-width: 31.6%;
      height: auto;
      width: auto;
      
  }
}



