

html, body {
  height:100%; !important;
}
body {
  background-color: #fff;
} 
body {
  font-family: sans-serif;
  color: #222;
} 
h3 {
  font-size: 3.9vw;
}
.container-fluid {
  height: 100%; !important;
}
hands {
  height: 100%;
}
.hvr-float {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.2s;
  transition-property: transform;
  transition-timing-function: ease-out;
}
.hvr-float:hover,
.hvr-float:focus,
.hvr-float:active {
  transform: translateY(-10px);
}

.pseudo-hvr-float {
  transform: translateZ(0);
}

@media only screen and (min-device-width: 319px) and (max-device-width: 414px) {

@media screen and (orientation:portrait) {
  body, html {
    position: fixed;
  }
  .btn {
    padding: 2vw 3vw; !important;
  }
  img {
    height: auto;
    width: auto; 
  }
  body .nopadding {
    padding: 0 !important;
    margin: 0 !important;
  }
  .col-xs-1, .col-xs-4, .col-xs-3, .col-xs-6, .col-xs-12 {
    padding: 0; !important;
    margin: 0; !important;
  }
  .cards-margin-left {
    margin-left:-26.7%;
  }
  .cards-margin-top {
  margin-top: -80%;
  }
  img.north, img.south {
    max-width: 32%;

  }

  img.north {


  }


  img.west, img.east {
    max-width: 65%;
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
  }
  img.east {
    float:right; !important;
    padding: -10px; 
  }
  img.west {
    float:left;
  }
  .col-xs-3 > img.east {
    margin-right: 15%; !important;
  }
  .col-xs-3 > img.west {
    margin-left: 16%; !important;
  }
  .col-xs-6 {
    position:relative; !important;
  }
  .border {
    border: dotted 1px black;
  }
  div.empty-div {
    height: 4vw;
    clear:both;
  }
  .north-arrow {
    margin: 0 auto;
    width: 5%;
    border-style: solid;
    border-width: 0 10px 14.6px 10px;   
    border-color: transparent transparent #55ff00 transparent;
  }
  .east-arrow {
    margin-top: 300%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 14.6px;
    border-color: transparent transparent transparent #55ff00;
  }
  .west-arrow {
    margin-top: 300%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 14.6px 10px 0;
    border-color: transparent #55ff00 transparent transparent; 
  }
  .south-arrow {
    margin: 0 auto;
    width: 5%;
    border-style: solid;
    border-width: 14.6px 10px 0 10px;
    border-color: #55ff00 transparent transparent transparent;
  }
  .west-trick, .north-trick, .east-trick, .south-trick {
    width: 48%;
  }
  .west-trick {
    position:absolute;
    top: 15vw;
    left: 2vw;
  }
  .north-trick {
    position:absolute;
    top: 5vw;
    left: 8vw;
  }
  .east-trick {
    position:absolute;
    top: 14vw;
    left: 15vw;
  }
  .south-trick {
    position:absolute;
    top: 25vw;
    right: 10vw;

  }
}

@media screen and (orientation:landscape) {

}

}

@media only screen and (min-device-width: 415px) and (max-device-width: 1500px) {
  img.north, img.south, img.east, img.west {
    width: 10%;
  }
  .cards-margin-left {
    margin-left:-3vw;
  }

}

@media only screen and (min-device-width: 1501px) and (max-device-width: 4000px) { 
  img.north, img.south, img.east, img.west {
    width: 15%;
  }
  img.east, img.west {
    width: 32%;
  }
  .cards-margin-left {
    margin-left:-5vw;
  }
}
@media screen and (min-width: 900px) { /* ...desktop styles here... */ }



